services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: always

  frontend:
    build: ./frontend/invoice-generator
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend/invoice-generator:/app
      - /app/node_modules
